#enterExperienceButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  font-size: 24px;
  background-color: yellow;
  color: gray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

#enterExperienceButton:hover {
  background-color: #ffe066;
}